@charset 'utf-8';

@import 'globals-default';
@import 'settings';
@import 'globals-wayne-state';
@import 'spinner';



$topbar-background: transparent;
$topbar-input-width: 23rem;
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

$button-color: $black;

@import 'foundation-core';
@import 'omeka';

body {
  font-weight: 500;
  min-width: 350px;
}

// Typography
.capitalize {
  text-transform: capitalize;
}


a {
  color: map-get($wayne-palette, brown-001);
}

header {
  border-bottom: 2px solid #e6e6e6;
  padding-right: (2 * $global-padding);
  padding-left: (2 * $global-padding);
  background-color: #000;

  @include breakpoint(small down) {
    padding: 0;
    margin: $global-margin;
  }

  .top-bar {
    padding-bottom: 1px;
    margin: auto;
    max-width: 106rem;

    #social_media {
      padding-right: 10px;

      img {
        margin: 5px 7px 10px;
        /* float: left; */
        /* display: flex; */
        width: 21px;
        height: 21px;
      }
    }

  }

  a {
    color: #fff;
    text-transform: uppercase;
  }

  .button {
    border: 1px solid #000;
    margin-left: -1px;
  }

  .site-title {
    padding: 0 1rem 0 0;
  }
}

.menu .active>a {
  color: #fff;
  background: transparent;
  margin-bottom: -0.05em;
}


textarea {
  min-height: 5rem;
  border-radius: 20px;
  padding: 0 20px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0;
  max-width: 106rem;
}

.search [type] {
  border-radius: 20px;
}

.sidebar-menu {
  width: 250px;
  background-color: #00594e;
  height: 100%;
  /* 100% Full-height */
  // width: 0; /* 0 width - change this with JavaScript */
  position: relative;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;

  .sidebar-menu-container {
    padding: 20px 0px;

    a {
      color: #fff;
      text-transform: capitalize;
    }

    a.active {
      color: #ffcd34;
    }
    
    .main-menu-title {
      padding: 0 0.8em;
      color: #fff;
      font-size: 1em;
      a:hover {
        color: #fada7c;
      }
    }

    .wide.sub-menu {
      width: auto;
      margin: 0px;
      padding-left: 13px;

      ul.vertical.menu {
        width: 100%;
        position: relative;
        list-style: none;
        font-size: 0.9em;

        li.active a {
          color: #ffcd34;
        }

        li a:hover {
          color: #fada7c;
        }

        li::before {
          content: "▶";
          position: relative;
          float: left;
          left: 4px;
          top: 12px;
          color: #fff;
          font-size: 0.7em;
          width: 20px;
        }

        li.active::before {
          color: #ffcd34;
        }
      }
    }
  }


}

/* Position and style the close button (top right corner) */
.sidebar-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #00594e;
  color: white;
  padding: 17px 15px;
  border: none;
  height: 52px;
}

.openbtn:hover {
  background-color: #444;
}


#main-content {
  flex: 1 0;
  height: fit-content;
  padding: 20px;
}

.sidebar-last-items {

  background-color: #ececec;

  .last-items-title {
    padding: 1em 0.8em 0 1em;
    font-weight: bold;
  }

  .resource-image,
  .resource-meta .description {
    display: none;
  }

  .resource-grid {
    margin: 0 0rem;

    .resource {
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }

  a {
    color: #474646;
    text-transform: none;
    font-size: 0.8em;
  }
}

//[type='text'] {
//  box-shadow: none;
//  text-indent: 20px;
//}

[type='submit'] {
  display: flex;
  margin: 1em auto;
  background: map-get($foundation-palette, warning);
  color: map-get($wayne-palette, gray-002);

  &:focus,
  &:hover {
    background: map-get($wayne-palette, gray-004);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: map-get($wayne-palette, green-001);
  font-weight: 900;
  text-transform: capitalize;
  padding: 0.5em 0;
}

.content-header-small {
  font-weight: 300;
}

.content-header {
  font-weight: 700;
}

.contact-info-container,
.content-sub-header {
  font-weight: 900;
}

body:not(.browse) #content {
  padding: 0px;
  max-width: 106rem;
}

body:not(.browse) #content #main-content {
  padding: 2rem 2rem 0rem;
}

.detroit_rebirth,
.lesson_plans {
  #blocks {
    padding-left: 5em;
    padding-right: 5em;

    &>h2:first-child {
      margin-bottom: 0;
    }
  }

  .break {
    margin-top: 0em;
  }
}

.wsu-link {
  color: map-get($wayne-palette, green-001);
  text-transform: capitalize;
}

.fonts-lc {
  text-transform: lowercase;
}

p {
  color: map-get($wayne-palette, gray-003);
}

i .fa {
  margin-right: 0.5em;
}

#offCanvas .input-group-button button[type="submit"] {
  background: url(../img/search_icon.png) no-repeat;
  height: 30px;
  width: 30px;
  margin-left: -39px;
  border: 0px;
  margin-top: 7px;
}

.top-bar {
  form {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
  }

  .input-group-button button[type="submit"] {
    background: url(../img/search_icon.png) no-repeat;
    height: 30px;
    width: 30px;
    margin-left: -39px;
    border: 0px;
    margin-top: 7px;
  }

  .top-bar-right {
    .search {
      width: 100%;
      margin-left: $global-margin;
      margin-bottom: 0.5em;
      margin-top: 1em;

    }

    flex: 0 1 auto;
    margin-left: auto;
    flex-direction: column-reverse;
    align-items: end;
  }

  .input-group-field {
    border-radius: 20px;
    margin-right: 0;
  }

}

.site-title {
  img {
    max-height: 5.5rem;
    width: 350px;
    margin: 0.5rem 0;
  }
}

.page-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 14rem;
  text-align: center;
  padding: 2em;

  &.about {
    background-image: url('../img/main/aboutus_image_sized.png');
  }

  &.contact {
    background-image: url('../img/main/contactus_image_sized.png');
  }

  &.project-team {
    background-image: url('../img/main/projectteam_page.png');
  }

  &.introduction {
    background-image: url('../img/main/introduction_image_sized.png');
  }
}

.side-by-side-container {
  display: flex;
  align-items: center;

  img {
    max-width: unset;
    max-height: 20rem;
  }

  .text-content {
    padding-left: 2em;

    h3 {
      color: map-get($wayne-palette, brown-001);
    }
  }
}

.contact-info-container {
  color: map-get($wayne-palette, brown-001);
  font-size: 1em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .info-item {
    padding: 0.5rem;
    overflow-wrap: anywhere;

    a {
      color: inherit;
    }
  }

  .fa {
    color: map-get($foundation-palette, warning);
    margin-right: 0.5em;
  }

}

.reach-out {
  .contact-info-container .info-item {
    display: flex;
    align-items: first baseline;
    justify-content: center;
  }

  .reach-out-label {
    color: map-get($wayne-palette, gray-003);
    font-weight: 500;
    text-align: left;
  }
}

// Home VIEW
.select-dropdowns {
  display: flex;
  clear: both;
  margin-top: 1em;

  button[type="submit"] {
    border-radius: 3em;
    padding: 0.55em 1em;
    margin: 0px 1em;
    font-size: 14px;
    align-items: center;
    border: 1px solid #333;
    color: #ffcc00;
    background-color: #0f594e;

    .o-icon-search {
      margin-right: 0.5em;
    }
  }
}

.page.home {
  #search-archives {
    width: 100%;
  }

  #search-archives-logo {
    float: left;
    height: 6em;
    margin: 0 1em 2em 0;
  }

  .search-archives-container {
    margin: auto;
    display: block;
    /*min-width: 30em;*/
    width: fit-content;
  }

  .chosen-container-single:nth-child(2) {
    margin-right: 1em !important;
  }

  .chosen-container-single {
    .chosen-single {
      background: none;
      background-color: #eee;
      color: #aaa;
      padding: 0.5em !important;
      height: auto;
      border: 1px solid #767676;
      border-radius: 3em;

      div {
        position: absolute;
        top: 8px;
        right: 0;
        display: block;
        width: 18px;
        height: 100%;
      }
    }

  }

  .chosen-with-drop {
    .chosen-single {
      border-radius: 1em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

  }
}

.thumbnail-banner {
  .thumbnail-item {
    width: auto;
    padding: 0.5em 1em;
    background-color: map-get($wayne-palette, gray-004);
    margin: 0.5em;
    border-radius: 5%;

    .wsu-badge {
      margin-left: -1.35em;
      margin-right: -.5em;
      border-bottom-right-radius: 9px;
      border-top-right-radius: 9px;
      color: #fff;
      height: 2em;
      text-align: center;
      display: flex;
      align-items: center;
      padding-left: 1em;
    }

    a,
    .wsu-badge {
      font-weight: 900;
      font-size: small;
    }

    .thumbnail-item-image {
      min-height: 12em;
      min-width: 9em;
      background-size: cover;
      position: relative;
    }

    .thumbnail-item-image a {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
    }

    .wsu-badge a {
      color: #fff;
    }
  }
}

.browse-all {
  padding: 0.5em 1em;
  background-color: #ddd;
  font-weight: 600;
}

.lesson-plan-title-extra,
.breadcrumbs a {
  color: map-get($wayne-palette, brown-001);
}



body.vertical-menu header a {
  color: #000;
  text-decoration: underline;
}

label,
.label {
  color: $black;
}

.resource.show .grid-x {
  padding: 0;
}

footer {
  padding: 0;
  max-width: 100%;
  border-top: 1px solid #ddd;

  .align-center {
    text-align: center;
  }

  .site-title img {
    width: auto;
    margin: 0.5rem 0;
  }

  .acknowledgement-container {
    .grid-x {
      min-height: 14rem;
      padding: 1rem 4rem;
      align-items: center;
      justify-content: center;

      .funding-acknowledgement-logo {
        margin-bottom: 1.5rem;
        margin-top: -3.5rem
      }

      .funding-acknowledgement {
        color: map-get($wayne-palette, brown-001);
        font-size: 1.3rem;
        font-weight: 350;
        text-transform: capitalize;
      }

      .funding-acknowledgement-sub {
        color: map-get($wayne-palette, gray-003);
        font-weight: 500;
        text-transform: capitalize;
        margin: 1rem 0;
      }

      .brand {
        color: map-get($wayne-palette, brown-001);
        font-size: 1em;
        font-weight: 900;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 1em;

        i {
          margin-left: 0.4em;
        }
      }
    }
  }

  .footer-container {
    background: #fff;
    color: map-get($wayne-palette, gray-003);

    >.footer-inner-container:first-child {
      border-bottom: 1px solid #ddd;
    }

    .footer-inner-container {
      padding: 0 (3 * $global-padding);

      .copyright-container {
        padding: 0 2 * $global-padding;
        justify-content: center;
      }
    }

    .cells {
      padding: 1em 0;

      a,
      div {
        padding-bottom: 0.5em;
      }

    }

    .copyright {
      font-size: 0.8em;
    }

    .logo {
      width: fit-content;
    }

    .outline {
      font-size: 1em;

      .outline-title {
        display: block;
        text-transform: uppercase;
        padding-bottom: 0.3em;
      }

      .outline-item {
        display: block;
        padding-bottom: 0.2em;
        color: map-get($wayne-palette, gray-003);
      }
    }

    .address_street {
      font-size: 0.8em;
      margin-top: 1em;
    }
  }
}

// BROWSE BY PAGES 

.reference-pagination li.pagination-range span {
  border: 1px solid transparent;
  background-color: #d6d6d6;
}

.reference-pagination li.pagination-range a {
  border: 1px solid #ebc722 !important;
  text-decoration: none;
  background-color: #00594e;
  color: #fff;

  &:hover {
    color: #00594e !important;
    background-color: #ebc722 !important;
  }
}

// PROJECT TEAM VIEW

.project-team {
  .min-yu {
    content: url('../img/team/min_yu.jpg');
  }

  .chris-crowley {
    content: url('../img/team/christopher_crowley.jpg');
  }

  .meghan-courtney {
    content: url('../img/team/meghan_courtney.jpg');
  }

  .dan-golodner {
    content: url('../img/team/dan_golodner.jpg');
  }
}

// FACETED BROWSE PAGE

.faceted-browse-page {
  #container a.resource-link img {
    height: 6em;
    width: 5.5em;
  }

  .permalink.button {
    display: none;
  }

  input.full-text {
    width: 80% !important;
  }

  [type='submit'] {
    margin-top: 0;
  }
}

.search-facets {
  flex-basis: 46% !important;
  padding: 0 2.5em 0 0em !important;

  h3 {
    padding-top: 0;
  }

  .search-facet-items {
    margin-left: 0px;
  }
}

.search-results {
  .resource-list {
    margin: 0;
  }

  .resource-list.grid {
    .resource {
      border-bottom: 0;
      padding-top: 0 !important;
    }
  }

  h3 {
    padding: 1em 0 0em;
  }

  width: 100%;
}

// ITEM SEARCH PAGE FOR TAGS
.item.resource {
  .advanced-search {
    display: none;
  }

  .sorting {
    .button[type=submit] {
      margin: 0px
    }
  }
}

// ADVANCED SEARCH 
.search-page #search-page #form-search {
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;

  .field {
    .field-meta {
      display: none;
    }

    .inputs {
      width: 100%;
    }

    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }

  >.field:first-child {
    width: 95%;
  }
}

#advanced-search-form {
  .inputs button[type=submit] {
    float: none;
    padding: 1em 2em;
  }
}

#search-filters .filter {
  margin-left: 0 !important;

  select:nth-of-type(1),
  select:nth-of-type(2) {
    min-width: auto !important;
  }
}

.search-results {
  .search-filters .filter a::after {
    content: "[x]" !important;
    float: right;
    margin-right: 0px !important;
    margin-left: 8px;
    color: red;
    cursor: pointer;
  }

  .omeka-pagination {
    .page-input-top {
      text-align: center;
    }

    margin-left: 0;
    width: auto;
  }

  .search-pagination-per-page.as-url,
  .search-results-display {
    display: flex;
    align-items: center;
  }

  label {
    padding-right: 0.5em;
  }

  margin-bottom: 7em;
}

// ITEM VIEW 
.relatedMeaning {
  display: none;
}

// MEDIA VIEW
.media {
  hr {
    margin: 0 0 2rem 0;
  }
}

@media (max-width: 874px) {
  .project-team .side-by-side-container img {
    max-width: 100%;
  }
}

@media (min-width:1024px) {

  .openbtn,
  .closebtn {
    display: none;
  }
}

@media (max-width:1023px) {
  .sidebar-menu {
    width: 0px;
  }
}

@media (min-width: 300px) {
  .footer-container .grid-x {
    justify-content: center;

    .logo .copyright {
      display: none;
    }

    #copyright-bottom {
      display: block;
    }
  }

  .side-by-side-container {
    flex-wrap: wrap;
    justify-content: center;

    p {
      margin-bottom: unset;
    }
  }

  .outline,
  .outline-item {
    text-align: center;
  }

  .contact-us-block {
    margin: 1em;

    .explanation.success {
      color: white;
      padding: 1em;
      background-color: #0c5449;
    }
  }
}

@media (min-width: 640px) {

  .introduction-content,
  .about-content {
    margin: 0 4rem;
  }

  .footer-container .grid-x {
    justify-content: unset;

    .logo .copyright {
      display: inherit;
    }

    #copyright-bottom {
      display: none;
    }
  }

  .outline,
  .outline-item {
    text-align: unset;
  }

  .contact-us-block {
    margin: 1em 3em;
  }
}

@media (min-width: 875px) {
  .side-by-side-container {
    flex-wrap: unset;
  }
}

@media (max-width: 1200px) {
  footer .footer-container .footer-inner-container {
    padding: 0 0.5rem;
  }
}

@media (max-width: 720px) {
  body:not(.browse) #content #main-content {
    padding: 0;
  }

  body:not(.browse) #content,
  header {
    padding: 0;
    margin: 0rem;
  }
}

@media (max-width: 444px) {

  .select-dropdowns,
  .select-dropdowns button[type=submit] {
    display: block;

    button[type=submit] {
      display: block;
      margin: auto;
    }

    select {
      width: 100%;
      margin: 0.5em 0;
    }
  }

}